.features {
  width: 100%;
  height: 100vh;
  background: url("../img/best.jpg") center center/cover no-repeat;
}

.features__list {
  display: flex;
  justify-content: space-between;
}

.features__item {
  width: calc(100%/ 3- 26px );
}